.kol.unknown {
  color: #BF1937;
}
.kol-missing {
  color: #245185;
}
.kol {
  	border-bottom: 1px dotted #BCBCC4;
  	outline: none;
  	cursor: help;
	text-decoration: none;
  	position: relative;
}
.kol .overlay {
	color: white;
  	background: #5494DE;
	border: 1px solid #365475;
	padding: 0.3em 0.4em;
	position: absolute;
	font-size: 20px;
	font-family: Arial, Calibri, Tahoma, Geneva, sans-serif;
	display: none;
	text-align: left;
}
.kol .keyword {
	text-align: center;
}
.kol .story {
	font-size: 12px;
}
.kol:hover .overlay {
	border-radius: 5px 5px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
	position: absolute;
	left: 0.5em;
	top: 2em;
	z-index: 99;
	width: 250px;
	display: inline;
}