<h2 class="keyword">
    {{#keyword}}
        {{keyword}}
    {{/keyword}}
</h2>

{{#kol-onYomi}}
    <p>On yomi: {{kol-onYomi}}</p>
{{/kol-onYomi}}

{{#kol-kunYomi}}
    <p>Kun yomi: {{kol-kunYomi}}</p>
{{/kol-kunYomi}}

{{#kol-memoStory}}
    <p class='story'>
        {{kol-memoStory}}
    </p>
{{/kol-memoStory}}